<!doctype html>
<html lang="en"> <head>
    <title>WCloud登入</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container"> <div class="row justify-content-center mt-5"> <div class="col-md-6"> <div class="card"> <div class="card-header">
              <h1 class="card-title text-center">WCloud 泓雲登入</h1> </div>
            <div class="card-body">
              {% if error %}
              <div class="alert alert-danger" role="alert"> <strong>錯誤：</strong> {{ error }}
              </div>
              {% endif %}
              <form action="/wcloud/login" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group"> <label for="username">wtech產品名稱 (ProductID)</label>
                  <input type="text" class="form-control" id="username" name="username" required> </div>
                <div class="form-group">
                  <label for="password">產品密鑰 (ProductSercet)</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="text-center"> <button type="submit" class="btn btn-primary">登入</button> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
