/* 確保不與 Bootstrap 衝突 */
.custom-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.custom-payment-notification {
    position: fixed;
    bottom: -200px; /* 初始位置在視口外 */
    left: 0;
    right: 0;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    transition: bottom 0.5s; /* 動畫效果 */
    z-index: 1000;
    border-radius: 10px 10px 0 0; /* 圓角 */
    display: none; /* 預設隱藏 */
}

.custom-slider-container {
    margin-top: 10px;
    width: 300px; /* 滑動桿寬度 */
}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: transparent; /* 透明背景 */
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; /* 滑塊寬度 */
    height: 30px; /* 滑塊高度 */
    border-radius: 50%; /* 滑塊圓形 */
    background: #ccc; /* 滑塊顏色 */
    cursor: pointer;
}

.custom-slider.active::-webkit-slider-thumb {
    background: darkgreen; /* 滑動時的顏色 */
}
