flask
cryptography
flask_sqlalchemy
paypalrestsdk
random2
stripe
requests
psycopg2-binary
numpy
PyQRCode
flask_httpauth
flask_cors
pytz
py-cord
nfcpy
Flask-SocketIO
flask-admin
Flask-Babel
gunicorn
SQLAlchemy==2.0.25
