flask
cryptography
flask_sqlalchemy
paypalrestsdk
random2
stripe
requests
psycopg2-binary
numpy
PyQRCode
flask_httpauth
flask_cors
pytz
py-cord
nfcpy
Flask-SocketIO
flask-admin
Flask-Babel
Flask-Login
Flask-OAuthlib
flask-qrcode
Flask-WTF
tablib
Ddos
eventlet
WTForms==2.3.3
pandas
Flask-Security