<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Socket.IO Admin UI</title>
    <script src="https://cdn.socket.io/4.7.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-admin-ui@latest/dist/socket.io-admin-ui.js"></script>
</head>
<body>
    <h1>Socket.IO Admin UI</h1>
    <script>
        const adminUI = new AdminUI(socket, {
    // 指定要連接的 Socket.IO 服務器的 URL
    url: 'https://0.0.0.0:5000', // Flask 應用的 URL

    // 設置一個自定義的路由來處理 Admin UI 的請求
    adminPath: '/adminui',

    // 設置是否啟用身份驗證
    auth: {
        enabled: true, // 是否啟用身份驗證
        username: 'admin', // 默認用戶名
        password: 'WTech1234#' // 默認密碼
    },

    // 自定義 UI 樣式
    theme: {
        backgroundColor: '#2f3136',
        color: '#ffffff',
        // 其他 CSS 屬性
    },

    // 設置要監控的事件
    events: {
        // 監控連接事件
        onConnect: (socket) => {
            alert("連接： socketID: "+socket.id);
            console.log('Connected:', socket.id);
        },
        // 監控斷開事件
        onDisconnect: (socket) => {
            alert("斷連： socketID: "+socket.id);
            console.log('Disconnected:', socket.id);
        }
    }
});
    </script>
</body>
</html>
