.menu {
    position: fixed;
    top: 0;
    right: -200px; /* �梯��券��Ｗ𢰧�� */
    width: 200px;
    height: 100%;
    background: #333;
    color: #fff;
    transition: right 0.3s ease-in-out;
}
.menu ul {
    padding: 20px;
    list-style-type: none;
}
.menu a {
    color: #fff;
}
.open-btn {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    position: fixed;
    top: 20px;
    right: 20px;
}
.close-btn {
    float: right;
    margin: 10px;
    cursor: pointer;
}
