<html>
  <head>
    <title>WCoins -- {{user}} page</title>
    <style>
      #top {
       width: 300px;
       margin: auto;
       background-color: #fff;
       padding: 20px;
       border-radius: 5px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      }
      #btn1 {
        background-color: #2e3c4d;
        color: rgb(255,255,255);
        padding: 12px 14px;
        font-size: 13px;
      }
    </style>
  </head>
  <body>
    <center>
    <div id="top">
       <h2>Welocme {{user}}</h2>
      <br>
       <p>Your balance: WTC${{count}}</p>
    </div>
  </center>
    <br>
    <br>
  </body>
</html>
