<!DOCTYPE html>
<html>
<head>
  <title>Loading Page</title>
  <style>
    body {
       background-color: #0000FF;
       color: rgb(255,255,255);
    }
    .loader {
       border: 16px solid #f3f3f3;
       border-top: 16px soild #3498db;
       border-radius: 50%;
       animation: spin 2s linear infinite;
       margin: 150px auto;
    }
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }
  </style>
</head>
<body>
  <center>
  <div class="loader"></div>
  <br>
   <h3>Loading...</h3>
 </center>
  <script>
    
  </script>
</body>
</html>
