<!DOCTYPE html>
<html>
<head>
    <title>掃描 QR Code</title>
    <script src="https://objects.githubusercontent.com/github-production-release-asset-2e65be/45130992/a796a5ab-f1fc-43fa-89db-dd54e9fb8352?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240625%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240625T075007Z&X-Amz-Expires=300&X-Amz-Signature=96caff6a1a870bfdb3a3f0538e2bff54338ae0e0daf51ede9872ed84ac10acaf&X-Amz-SignedHeaders=host&actor_id=110099957&key_id=0&repo_id=45130992&response-content-disposition=attachment%3B%20filename%3Dhtml5-qrcode.min.js&response-content-type=application%2Foctet-stream"></script>
    <style>
        #qr-reader {
            width: 500px;
            position: relative;
        }

        #qr-reader-dashboard {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>賣幣介面</h1>
    <div id="qr-reader">
        <div id="qr-reader-dashboard">
            <div id="qr-reader-dashboard-msg" style="color: #fff">掃描中...</div>
            <div id="qr-reader-dashboard-btn-container">
                <button id="qr-reader-dashboard-btn" style="display: none;">暫停掃描</button>
            </div>
        </div>
    </div>
    <canvas id="qr-canvas" width="500" height="500" style="display:none;"></canvas>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // 在這里處理掃描到的二維碼數據
            console.log(`Scan result: ${decodedText}`, decodedResult);

            // 將掃描到的結果繪製到 Canvas 上
            const canvas = document.getElementById('qr-canvas');
            const context = canvas.getContext('2d');
            context.drawImage(decodedResult.video, 0, 0, canvas.width, canvas.height);
            canvas.style.display = 'block';

            // 這里可以添加跳轉到另一個頁面的邏輯
            window.location.href="https://wtech-5o6t.onrender.com/wbank/paycode?user=" + "{{user}}" + "&code=" + decodedText;
        }

        let lastErrorTime = 0;
const ERROR_COOLDOWN_TIME = 10000; // 10 秒

function onScanError(errorMessage) {
    const currentTime = Date.now();
    if (currentTime - lastErrorTime > ERROR_COOLDOWN_TIME) {
        lastErrorTime = currentTime;
        alert("掃描錯誤 : " + errorMessage);
    }
    console.error(errorMessage);
}

        const html5QrcodeScanner = new Html5QrcodeScanner(
            'qr-reader', {
                fps: 10,
                qrbox: {
                    width: 250,
                    height: 250
                }
            },
            /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanError);
    </script>
</body>
</html>
