<!DOCTYPE html>
<html>
<head>
    <title>掃描QR-code</title>
    <script src="https://unpkg.com/html5-qrcode/dist/html5-qrcode.min.js"></script>
</head>
<body>
    <h1>賣幣頁面</h1>
    <div id="qr-reader" style="width:500px"></div>
    <canvas id="qr-canvas" width="500" height="500" style="display:none;"></canvas>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // 在這里處理掃描到的二維碼數據
            console.log(`Scan result: ${decodedText}`, decodedResult);

            // 將掃描到的結果繪製到 Canvas 上
            const canvas = document.getElementById('qr-canvas');
            const context = canvas.getContext('2d');
            context.drawImage(decodedResult.video, 0, 0, canvas.width, canvas.height);
            canvas.style.display = 'block';

            // 這里可以添加跳轉到另一個頁面的邏輯
            window.location.href="https://wtech-5o6t.onrender.com/wbank/v1/paycode?reviewer=" + '{{user}}' + "&code=" + decodedText;
        }

        function onScanError(errorMessage) {
            // 處理掃描錯誤
            alert("掃描失敗");
            console.error(errorMessage);
        }

        const html5QrcodeScanner = new Html5QrcodeScanner(
            'qr-reader', {
                fps: 10,
                qrbox: 250
            },
            /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanError);
    </script>
</body>
</html>
