<html>
  <body>
    <center>
      <br>
      <br>
      <br>
      <label>Server route:</label>
      <select id="choice">
        <option value="wtech-001">wtech-001</option>
      </select>
      <br>
      <button onclick="check()">connect</button>
      <br>
      <p id="demo"></p>
    </center>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script>
      var Select = document.getElementById('choice');
      var selectedValue = Select.options[Select.selectedIndex].value;
      const socket = io("https://wserver-wtech.onrender.com");
      const check = () => {
           socket.emit("roadOne");
           socket.on("welcome",(msg) => {
                document.getElementById("demo").innerHTML=msg;
           });
      };
    </script>
  </body>
</html>
