<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        color: white;
        background-color: deepblue;
    }
    #productArea {
        margin-top: 30px;
    }
    .productAreaItem {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid gray;
        padding: 10px;
        display: none;
    }
    .productAreaButton { margin-right: 10px; }
    </style>
</head>
<body>
    <h1>W Tech</h1>
    <div id="productArea">
        <h2>產品區</h2>
        <button onclick="displayProduct('wcoins')">Wcoins</button>
        <div id="wcoins" class="productAreaItem">
            <span>Wcoins</span>
            <button class="productAreaButton">Buy</button>
        </div>
        <button onclick="displayProduct('webService')">Web Service</button>
        <div id="webService" class="productAreaItem">
            <span>Web Service</span>
            <button class="productAreaButton">Buy</button>
        </div>
        <button onclick="displayProduct('game')">Uncle Run Game</button>
        <div id="game" class="productAreaItem">
            <span>Uncle Run Game</span>
            <button class="productAreaButton">Buy</button>
        </div>
    </div>
    <script>
    function displayProduct(id){
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
    }
    </script>
</body>
</html>
