<!DOCTYPE html>
<html>
<head>
<title>Product Page</title>
  <style>
    body {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 2em;
}
h2 {
    color: white;
    background-color: deepblue;
}
#productArea {
    margin-top: 30px;
}
button {
    margin: 10px 0;
}
#copyrightArea {
    margin-top: 30px;
    font-size: 0.8em;
    color: grey;
}
  </style>
</head>
<body>
    <h1>W Tech</h1>
    <div id="productArea">
        <h2>產品區</h2>
        <button id="wcoins" onclick="displayWcoins()">Wcoins</button>
        <div id="wcoinsArea" style="display: none;">HK$150</div>
        <div id="wcoinsArea" style="display: none;">HK$350</div>
        <div id="wcoinsArea" style="display: none;">HK$500</div>
        <div id="wcoinsArea" style="display: none;">HK$890</div>
        <div id="wcoinsArea" style="display: none;">HK$1000</div>
        <button id="webService" onclick="displayWebService()">Web Service</button>
        <div id="webServiceArea" style="display: none;">Flask.py後端架設</div>
        <button id="game">Uncle Run Game</button>
    </div>
    <div id="copyrightArea">
        /* Put copyright information here */
    </div>
  <script>
    function displayWcoins(){
    var x = document.getElementById("wcoinsArea");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function displayWebService(){
    var x = document.getElementById("webServiceArea");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
  </script>
</body>
</html>
