<html>
  <head>
    <title>WTech block place page</title>
    <style>
      #top {
       width: 300px;
       margin: auto;
       background-color: #fff;
       padding: 20px;
       border-radius: 5px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <center>
    <div id="top">
      <h3>W Tech restriction</h3>
      <br>
      <p>W Tech is now restricted for use in the {{country}}.Terribly sorry.||~</p>
   </div>
  </center>
    <br>
    <br>
    <script>
     
    </script>
  </body>
</html>
