<html>
  <head>
    <title>Room service</title>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
  </head>
  <body>
    <center>
      <br>
      <br>
      <h2>Hotel Room</h2>
      <br>
      <label>Room101: <p id="room1"></p></label>
      <button onclick="havePeople1()"> HavePeople</button>
      <button onclick="clearPeople1()"> Clear room</button>
      <br>
      <label>Room102: <p id="room2"></p></label>
      <button onclick="havePeople2()"> HavePeople</button>
      <button onclick="clearPeople2()"> Clear room</button>
      <br>
    </center>
    <script>
      
    </script>
  </body>
</html>
